/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 04 */

.container {
	width: 1024px;
	margin: 0 auto;
}


.header {
  content: contain;
  float:left;
  width: 984px;
}
/* hint! you have to contain the floated children elements. */

.logo {
  border: 2px solid green;
	float:left;
  width: 90px;
  text-align: center;
}

.navigation {
  border: 2px solid blue;
	float:right;
  width:200px;
  text-align: center;
}

.sidebar {
  height: 300px;
  width: 250px;
  float: left;
}

.main-content {
  width: 734px;
  height: 300px;
  float: left;
}

.footer {
  clear: both;
}
