/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 10 */

.header {
  width: 100;
}

.sidebar {
  width: 50%;
  height: 200px;
  float: left;
}

.holdmebaby {
  width: 80%;
  margin: 0 auto;
}

.main-content {
  width: 50%;
  height: 200px;
  float: left;
}

.footer {
  width: 100%;
  clear: both;
}

/* what do you have to add to make the sidebar and content and footer not be the full width of the browser? */