/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 12 */

/* To Do List */
.todolist {
  padding-top: 100px;
  width: 35%;
  margin: 0 auto;
  height: 330px;
}

/* Individual Todo */
.todo {
  clear: left;
  margin-left: 10px;
  border-bottom-style: none;
}


/* Priority icon dot */
.icon {
  float: left;
  padding-right: 10px;
}

/* Info of the todo, title and date */
.todo-info {
  float: left;
}

/* Title */
.todo-title {
  margin-top: 10px;
  float:left;

}

/* Date */
.todo-date {
  float: left;
  clear: left;
}

/* Checkboxes! */
input[type=checkbox] {
  float:right;
  clear: right;
  margin-top: 20px;
  margin-right: 30%;
}
