/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 11 */

.header {
  float: left;
  width: 100%;
}

.navigation {
  float: right;
  width: 40%;
}

.logo {
  float: left;
  width: 20%;
}

.main-content {
  float: left;
}
/* hint! */

.post {
  border:2px solid green;
  float: left;
  clear: left;
}
/* hint! */
h2 {
  float: left;
}
.image {
  border: 2px solid blue;
  width: 10%;
  height: 80px;
  float: left;
  clear: left;
}

.post_excerpt {
  border: 2px solid purple;
  float: right;
  width: 80%;
}